.clear { 
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: rgb(175, 174, 172);
    color: black;
    padding: 0.5 em; 
    outline: 1px solid rgb(175, 174, 172);
}